################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaminGit/.vs/SaminTeam/v15/Server/sqlite3
