@model SaminProject.ViewModels.IndexViewModel
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    گروه صنعتی تجاری ثمین
                </h1>
                <p class="text-white link-nav">خوش آمدید</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start service Area -->
<section class="cat-area section-gap" id="feature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-30 header-text text-center">
                <h1 class="mb-10"> خدمات </h1>
                <p>
                    بهترین خدمات ارایه شده توسط مارا در زیر مشاهده مینمایید برای دیدن کلیه خدمات <a href="/Service/List">اینجا</a> کلیک نمایید ..
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var service in Model.Services)
            {
                Html.RenderPartial("_ServicePartial", service);
            }
            @{
                int empty = 3 - Model.Services.Count;
                if (empty > 0)
                {
                    for (int i = 0; i < empty; i++)
                    {
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-question-circle"></span></span></a>
                                <h4 class="mt-40 mb-20">لورم ایپسوم</h4>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>
<!-- End service Area -->
<!-- Start faq Area -->
<section class="faq-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-faq">
                    <div class="circle">
                        <div class="inner"></div>
                    </div>
                    <h5><span class="counter">2</span>K+</h5>
                    <p>
                        Projects Completed
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-faq">
                    <div class="circle">
                        <div class="inner"></div>
                    </div>
                    <h5><span class="counter">5.5</span>K</h5>
                    <p>
                        Total Employees
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-faq">
                    <div class="circle">
                        <div class="inner"></div>
                    </div>
                    <h5 class="counter">959</h5>
                    <p>
                        Happy Clients
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-faq">
                    <div class="circle">
                        <div class="inner"></div>
                    </div>
                    <h5 class="counter">367</h5>
                    <p>
                        Tickets Submited
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End faq Area -->
<!-- Start product Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-30 header-text text-center">
                <h1 class="mb-10">محصولات</h1>
                <p>
                    پر طرفدارترین محصولات مارا در زیر مشاهده مینمایید برای دیدن کلیه محصولات <a href="/Product/List">اینجا</a> کلیک نمایید ..
                </p>
            </div>
        </div>
        <div class="row">
            @{
                Html.RenderPartial("_ProductPartial", Model.Products);
                int emptyProduct = 3 - Model.Products.Count;
                if (emptyProduct > 0)
                {
                    for (int i = 0; i < emptyProduct; i++)
                    {
                        <div class="col-lg-4">
                            <div class="single-service">
                                <div class="thumb">
                                    <img src="/Content/img/s1.jpg" alt="img">
                                </div>
                                <h4>لورم ایپسوم</h4>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>
<!-- End product Area -->
<!-- Start project Area -->
<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 pb-30 header-text text-center">
                <h1 class="mb-10">آخرین پروژه ها</h1>
                <p>
                    آخرین پروژه هایی که توسط ما به اتمام رسیده است در زیر مشاهده مینمایید برای دیدن کلیه پروژه ها <a href="/Project/List">اینجا</a> کلیک نمایید ..
                </p>
            </div>
        </div>
        <div class="row">
            @{
                Html.RenderPartial("_ProjectPartial", Model.Projects);
                int emptyProject = 6 - Model.Projects.Count;
                if (emptyProject > 0)
                {
                    for (int i = 0; i < emptyProject; i++)
                    {
                        <div class="col-lg-4 col-md-4">
                            <a href="~/Content/img/p4.jpg" class="img-gal">
                                <img class="img-fluid single-project" src="~/Content/img/p4.jpg" alt="">
                            </a>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>
<!-- End project Area -->
<!-- Start feedback Area -->
<section class="feedback-area section-gap relative" id="feedback">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-30 header-text text-center">
                <h1 class="mb-10 text-white">Enjoy our Client’s Feedback</h1>
                <p class="text-white">
                    Who are in extremely love with eco friendly system..
                </p>
            </div>
        </div>
        <div class="row feedback-contents justify-content-center align-items-center">
            <div class="col-lg-6 feedback-left relative d-flex justify-content-center align-items-center">
                <div class="overlay overlay-bg"></div>
                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="~/Content/img/play-btn.png" alt=""></a>
            </div>
            <div class="col-lg-6 feedback-right">
                <div class="active-review-carusel">
                    <div class="single-feedback-carusel">
                        <div class="title d-flex flex-row">
                            <h4 class="text-white pb-10">Fannie Rowe</h4>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <p class="text-white">
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                        </p>
                    </div>
                    <div class="single-feedback-carusel">
                        <div class="title d-flex flex-row">
                            <h4 class="text-white pb-10">Fannie Rowe</h4>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <p class="text-white">
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                        </p>
                    </div>
                    <div class="single-feedback-carusel">
                        <div class="title d-flex flex-row">
                            <h4 class="text-white pb-10">Fannie Rowe</h4>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked	"></span>
                            </div>
                        </div>
                        <p class="text-white">
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feedback Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-30 header-text">
                <h1>تازه ترین اخبار</h1>
                <p>
                    تازه ترین خبرهای مارا در زیر مشاهده مینمایید برای دیدن کلیه اخبار <a href="/News/List">اینجا</a> کلیک نمایید ..
                </p>
            </div>
        </div>
        <div class="row">
            @{
                Html.RenderPartial("_NewsPartial", Model.News);
                int emptyNews = 3 - Model.News.Count;
                if (emptyNews > 0)
                {
                    for (int i = 0; i < emptyNews; i++)
                    {
                        <div class="single-blog col-lg-4 col-md-4">
                            <div class="thumb">
                                <img class="f-img img-fluid mx-auto" src="~/Content/img/b1.jpg" alt="">
                            </div>
                            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                                <div>
                                    <span>نوشته شده توسط : آرمان هادی</span>
                                </div>
                                <div class="meta">
                                    در تاریخ : 15 فروردین 1398
                                </div>
                            </div>
                            <a href="#">
                                <h4>لورم ایپسوم</h4>
                            </a>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </p>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>
<!-- end blog Area -->
<!-- start footer Area -->

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.product').on('click', function () {
                var id = $(this).data('id');
                if (id != '' && id != undefined)
                    window.location.href = "/Product/Detail/" + id;
            });

            $('.single-blog').on('click', function () {
                var id = $(this).data('id');
                if (id != '' && id != undefined)
                    window.location.href = "/News/Detail/" + id;
            });
        })
    </script>

}
